### Hey Charlie, It's Your Birthday

In [1]:
#### We're gonna party like it's your birthday!
'''In this activity we're going to talk to each other and try to figure the day and month of our birhtdays.
Let's then import some packages to have some fun with this activity (well, all of us except Molly).
'''
# Test
import numpy as np
import pandas as pd

In [5]:
### This pandas data frame will contain our names, but with wrong dates for our birthdays.

bdays = pd.DataFrame({'Peeps': ['Nathan P.', 'Arianna P.', 'Molly P.', 'David P.', 'David O.', 'Jevon  W.', 'Holden M.', 'Pedro A.'],
                     'Bdays': ['1/1/2011','1/1/2011','1/1/2011','1/1/2011','1/1/2011','1/1/2011','1/1/2011','1/1/2011']})

bdays

        Peeps     Bdays
0   Nathan P.  1/1/2011
1  Arianna P.  1/1/2011
2    Molly P.  1/1/2011
3    David P.  1/1/2011
4    David O.  1/1/2011
5   Jevon  W.  1/1/2011
6   Holden M.  1/1/2011
7    Pedro A.  1/1/2011

In [17]:
'''So your job right now is talk to everyone and figure out when their birthdays actually are. Or just talk to Molly or ask her to share her screen.

This is an example on how you modify a birthday entry.

bdays.loc[bdays['Peeps']=='Pedro A.',['Bdays']] = '12/19/1900'

'''
## Following the example above, replace all the 8 entries with the correct birthdays.

"So your job right now is talk to everyone and figure out when their birthdays actually are. Or just talk to Molly or ask her to share her screen.\n\nThis is an example on how you modify a birthday entry.\n\nbdays.loc[bdays['Peeps']=='Pedro A.',['Bdays']] = '12/19/1900'\n\n"

In [ ]:
### Now, let's go to GitHub. Remember the 3 steps of Git: Add, Commit